* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* -------------------------------------------- */
/* Couleur de fond du site                      */
/* -------------------------------------------- */
main {
    background-color: rgb(192, 250, 250);
}

/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */
/*                                   HEADER                                             */
/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */

/* -------------------------------------------- */
/* Affichage du logo                            */
/* -------------------------------------------- */
/* .header-menu {
    display: flex;
} */
/* .header-menu i {
    margin-top: 10px;
    width: 100px;
    height: 50px;
    font-size: 50px;
} */
/* .header-logo {
    margin-left: 20px;
    margin-right: 600px;
} */

/* -------------------------------------------- */
/* Affichage du menu                            */
/* -------------------------------------------- */
header {
    padding: 20px 0px 20px 0px;
    background-color:rgb(29, 106, 240);
}
nav {
    text-align: center;
    font-size: 16px;
    vertical-align: middle;
}
a {
    text-decoration: none;
    color: black;
}
nav>ul>li>a:hover,
nav>ul>li>a:focus,
.genre-tile>a:hover,
.genre-tile>a:focus {
    text-decoration: none;
}
nav ul {
    list-style-type: none;
    padding: 0;
}
nav ul li {
    display: inline-block;
    margin-right: 10px;
}

/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */
/*                                   TITRES                                             */
/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */

/* -------------------------------------------- */
/* Affichage des titres permanents              */
/* -------------------------------------------- */
.titre-principal{
    text-align: center;
    color: rgb(29, 106, 240);
    padding-top: 20px;
    margin-bottom: 20px;
}
.titre-secondaire{
    text-align: center;
    color: rgb(29, 106, 240);
    margin-bottom: 20px;
}

/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */
/*                                   FILMS                                              */
/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */

/* -------------------------------------------- */
/* Affichage de la liste des films              */
/* -------------------------------------------- */
.liste_films {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
    padding-bottom: 20px;
    margin-left: 200px;
    margin-right: 200px;
}
.img_film {
    width: 300px;
    height: 420px;
    object-fit: cover;
    border-radius: 25px;
    border: 1px solid;
}

/* -------------------------------------------- */
/* Titre du film sous l'affiche                 */
/* -------------------------------------------- */
figcaption {
    border-radius: 0 0 10px 10px;
    font-style: italic;
}
.titre_film {
    text-align: center;    
    color: rgb(29, 106, 240);
}

/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */
/*                                   ACTEURS                                            */
/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */

/* -------------------------------------------- */
/* Affichage de la liste des acteurs            */
/* -------------------------------------------- */
.liste_acteurs {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-around;
    padding-bottom: 20px;
    margin-left: 300px;
    margin-right: 300px;
}
.img_acteur {
    width: 200px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
}

/* -------------------------------------------- */
/* Nom de l'acteur sous l'image                 */
/* -------------------------------------------- */
figcaption {
    border-radius: 0 0 10px 10px;
    font-style: italic;
}
figure .nom_acteur {
    text-align: center;
    color: orangered;
}

/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */
/*                                   REALISATEURS                                       */
/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */

/* -------------------------------------------- */
/* Affichage de la liste des réalisateurs       */
/* -------------------------------------------- */
.liste_realisateurs {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-around;
    padding-bottom: 20px;
    margin-left: 400px;
    margin-right: 400px;
}
.img_realisateur {
    width: 200px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
}

/* -------------------------------------------- */
/* Non du réalisateur sous l'image              */
/* -------------------------------------------- */
.figcaption .nom_realisateur {
    border-radius: 0 0 10px 10px;
    font-style: italic;
}
figure .nom_realisateur {
    text-align: center;
    color: rgb(42, 232, 42);
}    

/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */
/*                                   GENRES                                             */
/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */

/* -------------------------------------------- */
/* Affichage des icones ajout/modif/suppr       */
/* -------------------------------------------- */
.img_ajouter,
.img_modifier,
.img_supprimer {
    width: 40px;
    height: 40px;
}
.gestion_bouton {
    text-align: center;
}

/* -------------------------------------------- */
/* Affichage de la liste des genres             */
/* -------------------------------------------- */
.liste_genres {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
    padding-bottom: 20px;
    margin-top: 40px;
    margin-left: 300px;
    margin-right: 300px;
}
.nom_genre {    
    background-color: rgb(242, 243, 190);
    width: 200px;
    height: 60px;
    text-align: center;
    vertical-align: middle;
    padding: 25px 10px 10px 10px;
    border-radius: 10px;
}

/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */
/*                                       ROLES                                          */
/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */
.liste_roles {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    justify-content: space-around;
    padding-bottom: 20px;
    margin-top: 40px;
    margin-left: 300px;
    margin-right: 300px;
}
.libRole {
    width: 250px;
    height: 60px;
    background-color: rgb(242, 243, 190);
    text-align: center;
    padding: 25px 10px 10px 10px;
    border-radius: 10px;
}

/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */
/*                                 DETAIL DU GENRE                                       */
/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */
.titre_det_genre {
    text-align: center;
}
.info1_genre {
    text-align: center;
}

/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */
/*                                 DETAIL DU ROLE                                       */
/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */
.info1_role,
.info2_role {
    display: flex;
}
.titre_det_role {
    text-align: center;
}
.role_nom {
    width: 100px;
    margin-bottom: 3px;
}
.info2_role,
.info1_role {
    justify-content: left;
    margin-left: 810px;
}

/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */
/*                              DETAIL DU REALISATEUR                                   */
/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */
.photo_rea{
    text-align: center;
}
.info1_rea,
.info2_rea {
    display: flex;
}
.info_rea {
    width: 200px;
    margin-bottom: 3px;
}

.titre_info_rea,
.rea_films,
.titre_rea_film {
    text-align: center;
}
.info2_rea {
    justify-content: center;
}

/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */
/*                                 DETAIL DE L'ACTEUR                                   */
/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */
.photo_act{
    text-align: center;
}
.info1_act,
.info2_act {
    display: flex;
}
.info_act {
    width: 200px;
    margin-bottom: 3px;
}

.titre_info_act,
.act_films,
.titre_act_film {
    text-align: center;
}
.info2_act {
    justify-content: center;
}

/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */
/*                                   DETAIL DU FILM                                     */
/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */
.detail_film {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-bottom: 20px;
}
.img_film_clic {
    width: 300px;
    height: 420px;
    object-fit: cover;
    border-radius: 25px;
    border: 1px solid;
}
.info_film {
    width: 200px;
    margin-bottom: 3px;
}
.titre_synopsis_film,
.titre_info_film {
    text-align: center;
    margin-bottom: 10px;
}
.info4_film {
    margin-bottom: 100px;
}
.info1_film,
.info2_film,
.info2bis_film,
.info3_film,
.info4_film {
    display: flex;
}
.synopsis_film {
    width: 500px;
    text-align: justify;
}

/* -------------------------------------------- */
/* Réalisateur du film                          */
/* -------------------------------------------- */
.realisateur_film {    
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.dnaiss_realisateur{
    text-align: center;
    color: rgb(42, 232, 42);
}
.titre_det_realisateur {
    text-align: center;
}

/* -------------------------------------------- */
/* Acteurs du film                              */
/* -------------------------------------------- */
.acteurs_du_film {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.role_acteur,
.dnaiss_acteur{
    text-align: center;
    color: orangered;
}
.role_acteur{
    margin-top: 10px;
    font-style: italic;
    font-size: 18px;
}
.titre_det_acteur {
    text-align: center;
}

/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */
/*                          BOUTON AJOUT/MODIFICATION                                   */
/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */
.UpdGenre,
.UpdActeur,
.UpdRealisateur,
.AddGenre,
.AddRea,
.AddAct {
    text-align: center; 
}

.submitUpdGenre,
.submitUpdActeur,
.submitUpdRealisateur,
.submitAddGenre,
.submitAddRea,
.submitAddAct {    
    justify-content: center;   
    background-color: rgb(29, 106, 240);
    padding: 10px 5px 10px 5px; 
    border-radius: 10px;
    border: 1px solid;
    margin-top: 10px;
    margin-bottom: 10px;
}
.labnomGenre,
.labnomRea,
.labnomAct {
    margin-bottom: 5px;
    text-align: center; 
}